body {
	background-color: black;
	color: white;
	    font-family: Helvetica, Sans-Serif;

}

.my_csss {
	font-size: 20px
}

.main-title {
	padding-top:50px;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}

.second-title {
	padding-top:50px;
	color: orangered;
	font-size:30px    ;
	text-align: center
}

.main-description {
	padding:50px 250px;
	font-size: 30px    ;
	text-align    : center
}

.img-dsc {
	width: 50%;
   
    
    display: block;
    margin: 0 auto;
}

